
@{
    ViewBag.Title = "Empty cart";
}

<h2>
    <span class="glyphicon glyphicon-shopping-cart"></span>
    Your cart is empty. @Html.ActionLink("Go back and add something!", "Index", "Store")
</h2>

